<h1>Good day.</h1>

<p>
  Please find attached a Certificate of Insurance that was requested by your
  company.
</p>

<p>Please reply to this email if you have any questions.</p>
<p>Thanks again for choosing Foxquilt!</p>

<p style="color: #46b2bb">- The Foxquilt Team</p>
<p style="font-size: 0.75rem">
  E:
  <a style="color: #005683" href="mailto:support@foxquilt.com"
    >support@foxquilt.com</a
  >
  | <a style="color: #005683" href="www.foxquilt.com">www.foxquilt.com</a>
</p>
<p style="font-size: 0.75rem">Foxquilt Insurance Services LLC</p>
<p style="font-size: 0.75rem">127 W Worthington Ave, Suite 140</p>
<p style="font-size: 0.75rem">Charlotte, NC 28203 USA</p>
<p>
  <a href="https://www.facebook.com/foxquiltden/"
    ><img src="https://i.imgur.com/Mr9lYeV.png"
  /></a>
  <a href="https://www.linkedin.com/company/foxquilt/"
    ><img src="https://i.imgur.com/wvGqVgB.png"
  /></a>
  <a href="https://twitter.com/FoxquiltDen"
    ><img src="https://i.imgur.com/a4lPGCI.png"
  /></a>
  <a href="https://www.instagram.com/foxquiltden/"
    ><img src="https://i.imgur.com/uG1fdS7.png"
  /></a>
</p>
